.search-main {
  background-color: #14181c;
}
.search-container {
  width: 100%;
  min-height: 80vh;
  max-width: 1200px;
  padding: 3rem 0;
  margin: 0 auto;
}
.search-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__item {
    width: 80%;
    display: flex;
    border-bottom: 1px solid #3d3d3d;
    padding: 0.5rem;
    margin-top: 2rem;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    span {
      font-size: 0.8rem;
      color: #9ab;
    }
    span:first-child {
      font-size: 1.2rem;
      color: #fff;
    }
    .stars {
      color: #00e054;
    }
    .fa-heart {
      color: #ee7000;
    }
  }
  img {
    width: 10rem;
    background-size: cover;
  }
}
.not-found {
  color: #fff;
  font-size: 1.5rem;
  align-self: center;
}