@import './main.scss';
@import './header.scss';
@import './movie.scss';
@import './footer.scss';
@import './responsive-main.scss';

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: #14181C;
}
*,
::after,
::before {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #bce
}